@import './base.css';

/* Resetear estilos básicos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: white;
}

body {
  max-width: 100vw;
  background-color: white;
  min-height: 100vh;
}

/* Estilos para vista móvil */
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

/* Estilos de botones globales */
button {
  font-family: inherit;
  outline: none;
}

/* Ajustar el alto de los botones de filtro para todas las pantallas */
.filter-button {
  height: 52px; /* Para asegurar que tienen altura consistente */
}

/* Otros estilos globales pueden ir aquí */

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background-color: white;
  }

  #app {
    width: 100%;
    background-color: white;
    padding: 0;
  }
}
